@model pokusajNecega3.Models.BusinesObject.RacunBO
@{

    ViewData["Title"] = "Dodaj";
}

<h1>Dodajte novi racun</h1>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            @using (Html.BeginForm("DodajRacun", "Racun", FormMethod.Post))
            {
                <label asp-for="RacunId">ID-Racuna</label> <br />
                <input asp-for="RacunId" type="text" class="form-control" name="nId" id="iId" placeholder="Broj racuna"/>
                <span asp-validation-for="RacunId" class="text-danger"></span> <br />
                <label>Registracioni broj vozila:</label> <br />
                @Html.DropDownList("VozilaPregled", new SelectList(@ViewBag.Vozila, "RegistracioniBroj", "RegistracioniBroj"),
            "Izaberi",
            new
            {
                @class = "form-control",
                //@onchange = "OnSelectedVozilo(this.value)"
            })<br />
            <label>Izaberite dokumentaciju:</label><br />
                @Html.DropDownList("DokumentacijaPregled", new SelectList(@ViewBag.Dokumentacija, "Idvozacke", "Idvozacke"),
                "Izaberi",
                new
                {
                    @class = "form-control",
                    @onchange = "provera(this.value)"
                })<br />
                <label asp-for="Cena">Cena:</label> <br />
                <input asp-for="Cena" type="number" id="iCen" name="nCen" class="form-control" /> 
                <span asp-validation-for="Cena" class="text-danger"></span> <br />
                <label asp-for="BrojDana">Broj dana:</label> <br />
                <input asp-for="BrojDana" type="number" id="iDan" name="nDan" class="form-control" /> 
                <span asp-validation-for="BrojDana"></span><br />
                <label asp-for="Datum">Datum</label> <br />
                <input asp-for="Datum" type="date" id="iDat" name="nDat" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span><br />
                <input type="submit" value="Kreiraj racun" class="btn btn-success" name="nSub" id="iSub" />
            }
        </div>
    </div>

</div>


<script>
    function provera(prov) {
        alert(prov);
    }
</script>
