@model pokusajNecega3.Models.BusinesObject.RacunBO
@{

    ViewData["Title"] = "Dodaj";
}


<div class="container">
    <div class="col-md-5">

        <form asp-action="DodajRacun">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RacunId" class="control-label">Unesite ID računa:</label>
                <input asp-for="RacunId" class="form-control" />
                <span asp-validation-for="RacunId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DokumentacijaFk" class="control-label">Izaberite broj vozačke:</label>
                <select class="form-control" asp-for="DokumentacijaFk"
                        asp-items="@(new SelectList(ViewBag.Dokumentacija, "Idvozacke", "Idvozacke"))">
                    <option disabled selected>Izaberite jedno</option>
                </select>
                <span asp-validation-for="DokumentacijaFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoziloFk" class="control-label">Izaberite registraciju vozila:</label>
                <select class="form-control" asp-for="VoziloFk"
                        asp-items="@(new SelectList(ViewBag.Vozila, "RegistracioniBroj", "RegistracioniBroj"))">
                    <option disabled selected>Izaberite jedno</option>
                </select>
                <span asp-validation-for="VoziloFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label">Cena:</label>
                <input asp-for="Cena" type="number" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojDana" class="control-label"></label>
                <input asp-for="BrojDana" type="number" class="form-control" />
                <span asp-validation-for="BrojDana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label">Datum:</label>
                <input asp-for="Datum" type="date" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-success" />
            </div>
        </form><br />
        @Html.ActionLink("Nazad", "VecUlogovanKorisnik", "Home", new { area = "" }, new { @class = "btn btn-info" })
    </div>

</div>

<script>
    function provera(prov) {
        alert(prov);
    }
</script>
