@*@model IEnumerable<pokusajNecega3.Models.BusinesObject.VoziloBO>*@
@model pokusajNecega3.Models.BusinesObject.VoziloBO
@{
    ViewData["Title"] = "Azuriraj";

}

<h1>Dodajte novo vozilo</h1>

@if (ViewBag.uspeh == true)
{
    <div id="uspeh" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Uspešno ste ažurirali vozilo!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="col-md-5">


                @using (Html.BeginForm("AzurirajVozilo", "Vozilo", FormMethod.Post))
                {
                    <label>Registracioni broj</label> <br />
                    @Html.DropDownList("RegistracioniBroj", new SelectList(@ViewBag.Reg),
                "Izaberi",
                new
                {
                    @class = "form-control",
                    @onchange = "OnSelectedReg(this.value)"
                })
                    <div id="ostatakPrikaza">

                    </div>
                    <br />


                    <input type="submit" value="Ažuriraj vozilo" class="btn btn-success" name="nSub" id="iSub" />

                }
                <br />
                @Html.ActionLink("Nazad", "VecUlogovanAdmin", "Home", new { area = "" }, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    function zauzeto() {
        if (document.getElementById('iZauz').checked) {
            document.getElementById('iZauz').value = 1;
        }
        else {
            document.getElementById('iZauz').value = 0;
        }
    }

    function OnSelectedReg(reg) {
        $.ajax({
            url: '@Url.Action("NadjiVoziloZaAzuriranje", "Vozilo")',
            data: { reg: reg },
          success:   function(result) {
              $('#ostatakPrikaza').html(result);
              document.getElementById('ostatakPrikaza').value = result;
            }
        });
    }
</script>

@*<script>
                function provera(prov) {
                    alert(prov);
                }
                function zauzet() {

                }

    </script>*@
