@*@model IEnumerable<pokusajNecega3.Models.BusinesObject.VoziloBO>*@
@model pokusajNecega3.Models.BusinesObject.VoziloBO
@{
    ViewData["Title"] = "Dodaj";
}

<h1>Dodajte novo vozilo</h1>

@*<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="col-md-5">


                @using (Html.BeginForm("DodajVozilo", "Vozilo", FormMethod.Post))
                {
                    <label>Registracioni broj</label> <br />
                    <input type="text" class="form-control" name="nReg" id="iReg" /><br />
                    <label>Tip vozila:</label> <br />
                    @Html.DropDownList("TipVozila", new SelectList(@ViewBag.Tip),
                "Izaberi",
                new
                {
                    @class = "form-control",
                    //@onchange = "OnSelectedVozilo(this.value)"
                })<br />
                    <label>Model:</label><br />
                    <input type="text" class="form-control" name="nMod" id="iMod" /><br />
                    <label>Boja:</label><br />
                    <input type="text" class="form-control" name="nBoj" id="iBoj" /><br />
                    <br />
                    <label>Tezina:</label><br />
                    <input type="number" class="form-control" name="nTez" id="iTez" /><br />
                    <label>Vozni park:</label><br />
                    <input type="text" class="form-control" name="nVozPar" id="iVozPar" /><br />
                    <label>Zauzeto:</label> <br />
                    <input type="checkbox" id="iZauz" name="nZauz" class="form-control" onclick="zauzet()" /> <br /><br />

                    //ODRADITI ZAUZETOST
                    



                    <input type="submit" value="Kreiraj racun" class="btn btn-success" name="nSub" id="iSub" />
                }
            </div>
         </div>
    </div>

</div>*@




<div class="container">
    <div class="col-md-5">

        <form asp-action="DodajVozilo">

            @*REGISTRACIONI BROJ*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegistracioniBroj" class="control-label">Unesite ID racuna:</label>
                <input asp-for="RegistracioniBroj" class="form-control" />
                <span asp-validation-for="RegistracioniBroj" class="text-danger"></span>
            </div>

            @*TIP VOZILA*@
            <div class="form-group">
                <label asp-for="Tip" class="control-label">Izaberite Tip:</label>
                <select class="form-control" asp-for="Tip"
                        asp-items="@(new SelectList(ViewBag.Tip))">
                    <option disabled selected>Izaberite jedno</option>
                </select>
                <span asp-validation-for="Tip" class="text-danger"></span>
            </div>

            @*MODEL*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Unesite Model:</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            @*BOJA*@
            <div class="form-group">
                <label asp-for="Boja" class="control-label">Boja:</label>
                <input asp-for="Boja" type="number" class="form-control" />
                <span asp-validation-for="Boja" class="text-danger"></span>
            </div>

        </form>

    </div>

</div>



































        <script>
            function provera(prov) {
                alert(prov);
            }
            function zauzet() {

            }
            
        </script>
