
@model IEnumerable<pokusajNecega3.Models.BusinesObject.VoziloBO>
    @{
        Layout = "_Layout";
    }


    @{
        ViewData["Title"] = "NadjiVoziloPoReg";
    }

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <div class="row">
        <div class="col-md-4">
            <label>Pretraga vozila</label>
            <div>
                <label>Unesite registracioni broj vozila:</label>
                <input class="input-group" type="text" name="nReg" id="iReg" placeholder="npr. 123" /> <br />
                <input onclick="funkcija()" type="button" name="nTrazi" value="Pretrazi" class="btn btn-success" />
            </div>
        </div>

    </div>
    <br />
    <br />
    <div id="Vozila">
        <table class="table">
            <tr>
                <th>Registracioni broj</th>
                <th>Model</th>
                <th>Tip</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(Model => item.RegistracioniBroj)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => item.Tip)
                    </td>

                </tr>
            }
        </table>


    </div>




    @*RADIIIIII++*@@*RADIIIIII++*@@*RADIIIIII++*@@*RADIIIIII++*@@*RADIIIIII++*@@*RADIIIIII++*@@*RADIIIIII++*@@*RADIIIIII++*@@*RADIIIIII++*@@*RADIIIIII++*@@*RADIIIIII++*@


    <script>
function funkcija() {
        alert(parseInt(document.getElementById('iReg').value));
        let reg = parseInt(document.getElementById('iReg').value);
        let prolaz = true;
        alert(typeof reg);
        console.log(reg);
        if (isNaN(reg)) {
            alert("Upisite dobro registracioni broj");
            prolaz = false;
        }
        $.ajax({
            url: '@Url.Action("NadjiVoziloPoReg", "Vozilo")',
            data: { reg: reg,iProlaz:prolaz },
            success: function (result) {
            $('#Vozila').html(result);
            document.getElementById('Vozila').value = result
            }

            })
    }

    </script>
